<!doctype html>
<html>
<head>
  <title>Meadowlark</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  {{{_sections.head}}}
</head>
<body>
  <header>
    <img src="/img/logo.png">
  </header>  
  {{{body}}}
  <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
  {{{_sections.jquery}}}
</body>
</html>
