<!doctype html>
<html>
<head>
  <title>Meadowlark</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/newsletter.js"></script>
</head>
<body>
  <header>
    <img src="/img/logo.png">
  </header>
  <div class="container">
    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          &times;
        </button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}
  </div>
  {{{body}}}
</body>
</html>
